.summary{
    padding: 0 125px 0 125px;
}
.uppercase{
    text-transform: uppercase;
}
.main-content .column h1{
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 35px;
}

.main-content{
    padding-bottom: 45px;
    border-bottom: solid 1px #189EB3;
    margin-bottom: 75px;
}
.is-info{
    background-color: #189EB3;
}
#volunteer-form{
    margin-top: 50px;
}
.button.is-primary{
    display: block;
    margin: auto;
    background-color: #189EB3;
}
.button.is-primary:hover{
    color: #189EB3;
    border: solid thin #189EB3;
    background-color: transparent;
}
.input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus {
    
        border-color: #189EB3;
        -webkit-box-shadow: 0 0 0 .125em rgba(0,209,178,.25);
        box-shadow: 0 0 0 .125em rgba(0,209,178,.25);
    
}
.center{
    text-align: center;
}
@media only screen and (max-width: 414px) {
    .summary {
        padding:0 35px;
    }

}