<div class="summary">
  <div class="columns main-content">
    <div class="column text-left">
      <h1 class="uppercase">Learn how to build dynamic apps</h1>
      <p>Run by TXT and volunteers from the USC Iovine and Young Academy, Leadership Computer Science (Lead CS) introduces middle
        school boys of color to computer science, entrepreneurship, and tech careers. Come learn how to build your own app
        on a college campus with state-of-the-art tech equipment. Our students make real-world, hands-on tech projects for
        their friends, families, and communities. You too can become a tech entrepreneur and earn prizes for your great idea.</p>
    </div>
    <div class="column img">
      <img src="assets/programs/leadcs/leadcs-1.jpg" alt="">
    </div>
  </div>
  <div class="columns main-content">
    <div class="column img">
      <img src="assets/programs/leadcs/leadcs-2.jpg" alt="">
    </div>
    <div class="column text-right">
      <h1 class="uppercase">Meet professionals in the field</h1>
      <p>You'll also get to meet inspiring tech leaders and visit cool companies like Google and Disney. We meet at the USC
        campus for eight weeks on Saturdays from 10-3 pm. Free lunch and snacks are provided. This program is held every
        quarter.</p>
    </div>
  </div>
  <div class="notifcation">
      <div class="notification is-danger">
        We are currently not accepting any applications for LeadCS. If you are interested in being notified when applications open
        up, please send an email to <strong>roberto@urbantxt.com</strong>
      </div>
    </div>
</div>
