
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  #programs ul{
      text-align: center;
  }
  #programs ul a{
      color: black;
  }
  #programs ul .is-active{
      color:#189EB3;
  }
  #programs ul li{
      display: inline-block;
      margin: 0px 10px 0 10px;
  }
