<div class="programs-content">

  <div class="banner">
    <h1>Contact Us</h1>
  </div>

  <div id="contact-us">
    <form action="">
        <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Full Name">
                  <span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                        </span>
                </p>
              </div>
            </div>
          </div>
      
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                            </span>
                  <!-- <span class="icon is-small is-right">
                              <i class="fa fa-check"></i>
                            </span> -->
                </p>
              </div>
              <div class="field is-expanded">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="tel" placeholder="Phone number">
                    <span class="icon is-small is-left">
                                          <i class="fa fa-phone"></i>
                                  </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
      
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" placeholder="Subject - e.g. Partnership opportunity">
                </div>
                <!-- <p class="help is-danger">
                            This field is required
                          </p> -->
              </div>
            </div>
          </div>
      
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
                </div>
              </div>
            </div>
          </div>
      
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control custom-btn">
                  <button class="button is-primary">
                          Send
                        </button>
                </div>
              </div>
            </div>
          </div>
    </form>
  </div>
</div>
