<div class="programs-content">

  <div class="banner">
    <h1>Contact Us</h1>
  </div>

  <div id="contact-us">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contact)">
        <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" [ngClass]="{'input-error': input.fullName}" placeholder="Full Name"  #fullName="ngModel" name="fullName"  type="text" [(ngModel)]="contact.fullName" required (blur)="inputCheck('fullName',fullName.valid)"  >
                  <span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                        </span>
                </p>
              </div>
            </div>
          </div>
      
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                  <input class="input" [ngClass]="{'input-error': input.email}" type="email" placeholder="Email" #email="ngModel" name="email"  [(ngModel)]="contact.email"  required (blur)="inputCheck('email',email.valid)" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                  <span class="icon is-small is-left">
                              <i class="fa fa-envelope"></i>
                            </span>
                  <!-- <span class="icon is-small is-right">
                              <i class="fa fa-check"></i>
                            </span> -->
                </p>
              </div>
              <div class="field is-expanded">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="tel" [ngClass]="{'input-error': input.phoneNumber}" placeholder="Phone number" #phoneNumber="ngModel" name="phoneNumber"  [(ngModel)]="contact.phoneNumber" [maxlength]='14' [minlength]='14' (keyup)="formatNumber(phoneNumber.model)" required (blur)="inputCheck('phoneNumber',phoneNumber.valid)" required>
                    <span class="icon is-small is-left">
                                          <i class="fa fa-phone"></i>
                                  </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" placeholder="Subject - e.g. Partnership opportunity" [ngClass]="{'input-error': input.subject}" #subject="ngModel" name="subject"  [(ngModel)]="contact.subject"  (blur)="inputCheck('subject', subject.valid)" required >
                </div>
                <!-- <p class="help is-danger">
                            This field is required
                          </p> -->
              </div>
            </div>
          </div>
      
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Explain how we can help you"  [ngClass]="{'input-error': input.comments}" #comments="ngModel" name="comments"  [(ngModel)]="contact.comments"  (blur)="inputCheck('comments', comments.valid)" required></textarea>
                </div>
              </div>
            </div>
          </div>
      

          <button class="button is-primary" [disabled]="!contactForm.valid || submit" [ngClass]="{'is-loading': submit}">
            Submit
          </button>
 
    </form>
  </div>
</div>
