<div class="summary">
    <div class="columns main-content">
      <div class="column text-left">
        <h1 class="uppercase">Become a Full Stack & Python developer</h1>
        <p>Run by certified volunteers from Apple and Google, the Seals program builds on the skills students have learned in the SCLA program.
          Come learn how to develop MEAN Stack app using current web technologies and games using Python. Seals learn the skills required to work in the tech field.
        </p>
      </div>
      <div class="column img">
        <img src="assets/seals/seals-1.jpg" alt="">
      </div>
    </div>
    <div class="columns main-content">
      <div class="column img">
        <img src="assets/seals/seals-2.jpg" alt="">
      </div>
      <div class="column text-right">
        <h1 class="uppercase">Become the best of the best</h1>
        <p>You'll learn how to become a great leader and role model for the future generation of students</p>
      </div>
    </div>
    <div class="notifcation">
        <div class="notification is-danger">
         The Seals program is only available to students who have completed the Summer Coding Leadership Academy (SCLA) program. Invitations to the Seals program will be sent out in the Spring. If you have any questions, please send an email to <strong>roberto@urbantxt.com</strong>
        </div>
      </div>
  </div>
  