<div class="summary">
    <div class="columns main-content">
      <div class="column text-left">
        <h1 class="uppercase">Our Goal</h1>
        <p>Inspire youth, parents, and mentors to join together and use
            technology to change South Central LA for the better. We believe
            computer science is a tool for social change. Your app could help
            improve your church, school, block, park, or any part of your
            community. If you are between the ages of 9 and 17, come and build a
            cool website or app with us!</p>
      </div>
      <div class="column img">
        <img src="assets/hackathon/hackathon-2.jpg" alt="">
      </div>
    </div>
    <div class="columns main-content">
      <div class="column img">
        <img src="assets/hackathon/hackathon-3.png" alt="">
      </div>
      <div class="column text-right">
        <h1 class="uppercase">Volunteer</h1>
        <p>If you are a professional developer, UX designer, or someone with a
            passion for mentoring Black and Brown youth in tech, we need your
            help. Our goal is to have 100 developers who will spark the mind of
            
            those who will change the world! Join us as a mentor and bring a
            friend to help us inspire kids who have never coded in their life.
            Sign up today and be part of the movement!</p>
      </div>
    </div>
    <div class="notifcation">
        <div class="notification is-danger">
          We are currently organzing Hustle N Code for December. If you are interested in being notified when a date has been set for the hacakthon, please send an email to <strong>roberto@urbantxt.com</strong>
        </div>
      </div>
  </div>