.banner {
    position: relative;
    height: 65vh;
    left: 0;
    right: 0;
    z-index: -1;
    content: '';
    background-color: black !important;
    background: url('../../assets/programs/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.banner:before {
    display: block;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: .45;
}

.banner h1 {
    position: absolute;
    bottom: 0;
    left: 25px;
    text-transform: uppercase;
    font-size: 5rem;
    color: #fff;
}

.summary {
    margin-top: 35px;
    padding: 0 125px;
    font-size: 1.2rem;
}

.summary .center {
    text-align: center;
}
#programs {
    margin-top: 50px;
    padding: 25px 25px 50px 25px;
}

#programs h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 600;
}

#programs p {
    text-align: center;
    padding: 25px 25px 0 25px;
    font-size: 18px;
}

.program-img {
    position: relative;
    display: block;
    width: auto;
    height: 300px;
    overflow: hidden;
    margin: auto;
    transition: all 0.5s ease;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#programs ul {
    text-align: center;
    border-bottom: solid 2px #189EB3;
    margin: 0 125px 0 125px;
    padding-bottom: 25px;
}

#programs ul a {
    color: black;
}

#programs ul .is-active {
    color: #189EB3;
}

#programs ul li {
    display: inline-block;
    margin: 0px 10px 0 10px;
}

@media only screen and (max-width: 414px) {
    .banner h1 {
        position: absolute;
        bottom: 0;
        left: 25px;
        text-transform: uppercase;
        font-size: 2rem !important;
        color: #fff;
    }
    .summary[_ngcontent-c2] {
        margin-top: 35px;
        padding: 0 35px;
        font-size: 1.2rem;
    }
    .banner h1 {
        font-size: 3rem;
    }
    #programs ul {
        margin: 0 5px 0 5px;
    }
    #programs ul li {
        margin-top: 20px;
    }

}