<div class="programs-content">

  <div class="banner">
    <h1>Programs</h1>
  </div>
  <div id="programs" class="content-section">
      <ul  class="noselect">
          <a href="#" [routerLink]="['/programs', 'SCLA']" routerLinkActive="is-active"><li  class="noselect">SCLA</li></a>
          <a href="#" [routerLink]="['/programs','seals']" routerLinkActive="is-active"><li  class="noselect">Seals Program</li></a>
          <a href="#" [routerLink]="['/programs','leadCs']" routerLinkActive="is-active"><li  class="noselect">Lead Computer Science</li></a>
          <a href="#" [routerLink]="['/programs','hustlencode']" routerLinkActive="is-active"><li  class="noselect">Hustle N Code</li></a>
      </ul>
  </div>
  <router-outlet></router-outlet>
  
</div>
<!-- <div class="header">
    <p>Our programs offer an immersive experience where young men of color develop as technology leaders by learning computer programming, entrepreneurship, and public speaking. We use tech and coding as tools that lead to discipline, confidence, and critical thinking.</p>
</div> -->
<!-- 
<div class="summary">
    <p>The Summer Coding Leadership Academy(SCLA) challenges boys to become advocates of change within their communities through
      technology. Boys develop leadership, entrepreneurship and coding skills in order to build tangible products that tackle
      issues within their community. SCLA enagages young boys of color using experiential learning and prepares them for
      college and the STEM field.
    </p>
    <div class="center">
      <br>
      <a class="button is-primary custom-btn">Apply Now!</a>
    </div>
  </div> -->




        <!-- <div class="columns row-1 is-multiline">
          <div class="column is-half-tablet is-half-desktop">
              <a href="#" [routerLink]="['SCLA']">
                  <div class="text-program">
                          <h1>Bagel</h1>
                          <p>Chief Mascot</p>
                  </div>
              <div class="program-img"></div>
              <p>Summer Coding Leadership Academy (SCLA) </p>
              </a>
          </div>
       
          <div class="column is-half-tablet is-half-desktop ">
                  <div class="text-program">
                          <h1>Bagel</h1>
                          <p>Chief Mascot</p>
                  </div>
              <div class="program-img"></div>
              <p>Seals Program</p>
          </div>
          <div class="column is-half-tablet is-half-desktop">
                  <div class="text-program">
                          <h1>Bagel</h1>
                          <p>Chief Mascot</p>
                  </div>
              <div class="program-img"></div>
              <p>Lead Computer Science</p>
          </div>
          <div class="column  is-half-tablet is-half-desktop">
                  <div class="text-program">
                          <h1>Bagel</h1>
                          <p>Chief Mascot</p>
                  </div>
                  <div class="program-img"></div>
                  <p class="program-title">Hustle N Code Hackathon </p>
              </div>
      </div> -->