<div class="summary">
    <p>The Summer Coding Leadership Academy(SCLA) challenges boys to become advocates of change within their communities through
      technology. Boys develop leadership, entrepreneurship and coding skills in order to build tangible products that tackle
      issues within their community. SCLA enagages young boys of color using experiential learning and prepares them for
      college and the STEM field.
    </p>
    <div class="center">
      <br>
      <a class="button is-primary custom-btn">Apply Now!</a>
    </div>
  </div>