<div class="summary">
  <div class="columns main-content">
    <div class="column text-left">
      <h1 class="uppercase">Learn coding and entrepreneurship skills</h1>
      <p>In SCLA, you will learn to code using HTML, CSS, JavaScript and Python. You will learn how to build your own startup
        tech business. At SCLA you will learn how to learn. You will master your strength to become the best version of yourself.
        After a few weeks with us you will understand that success is not hard just a lot of work, but you will thrive. We
        encourage you to become more than a coder: become a leader and entrepreneur, someone who can overcome any obstacle
        in his life. Last year, a 14-year-old received $4,000 to start his own company. This year, it can be you.</p>
    </div>
    <div class="column img">
      <img src="assets/programs/scla/scla-1.jpg" alt="">
    </div>
  </div>
  <div class="columns main-content">
    <div class="column img">
      <img src="assets/programs/scla/scla-2.jpg" alt="">
    </div>
    <div class="column text-right">
      <h1 class="uppercase">Innovate with others while you build a network</h1>
      <p>At the University of Southern California, you will be joining a network of the best of the best innovators. You will
        be joining the “Navy Seals” of tech in Los Angeles. The experience will make you competitive when applying to universities
        and future jobs. SCLA will give you the opportunity to visit companies such as Google, Yahoo, and Snapchat to learn
        how they innovate. You will make connections with tech professionals that can become your mentors and help you become
        successful in the tech world.</p>
    </div>
  </div>
  <div class="columns main-content">
    <div class="column text-left">
      <h1 class="uppercase">Lead and become part of a brotherhood</h1>
      <p>During 12 weeks, you will become part of a brotherhood of leaders, a brotherhood that inspires you to give it your
        all. Your brothers will help you code, solve problems, and succeed in life. You will be part of leaders who have
        changed their communities and families. Today we have TXT’rs from Los Angeles to New York, working to change the
        world. To us, it doesn't matter if you have bad grades or good grades. What matters is that you are hungry to be
        the best. You will become the best public speaker, the most critical-thinker while you build confidence and become
        a young professional. You will meet other like-minded individuals who are changing the world and making an impact
        in their community. We invite you to become one of our leaders. Join our brotherhood to change the world.</p>
    </div>
    <div class="column img">
      <img src="assets/programs/scla/scla-3.jpg" alt="">
    </div>
  </div>
  <div class="notifcation">
    <div class="notification is-danger">
      We are currently not accepting any applications for SCLA. If you are interested in being notified when applications open
      up, please send an email to <strong>roberto@urbantxt.com</strong>
    </div>
  </div>
</div>



<!-- <p>The Summer Coding Leadership Academy(SCLA) challenges boys to become advocates of change within their communities through
      technology. Boys develop leadership, entrepreneurship and coding skills in order to build tangible products that tackle
      issues within their community. SCLA enagages young boys of color using experiential learning and prepares them for
      college and the STEM field.
    </p>
    <div class="center">
      <br>
      <a class="button is-primary custom-btn">Apply Now!</a>
    </div> -->
