<div id="programs" class="content-section">
      <div class="header">
          <p>Our programs offer an immersive experience where young men of color develop as technology leaders by learning computer programming, entrepreneurship, and public speaking. We use tech and coding as tools that lead to discipline, confidence, and critical thinking.</p>
      </div>
      <div class="columns row-1 is-multiline">
          <div class="column is-half-tablet is-half-desktop">
                  <div class="text-program">
                          <h1>Bagel</h1>
                          <p>Chief Mascot</p>
                  </div>
              <div class="program-img"></div>
              <p>Summer Coding Leadership Academy (SCLA) </p>
          </div>
          <div class="column is-half-tablet is-half-desktop ">
                  <div class="text-program">
                          <h1>Bagel</h1>
                          <p>Chief Mascot</p>
                  </div>
              <div class="program-img"></div>
              <p>Seals Program</p>
          </div>
          <div class="column is-half-tablet is-half-desktop">
                  <div class="text-program">
                          <h1>Bagel</h1>
                          <p>Chief Mascot</p>
                  </div>
              <div class="program-img"></div>
              <p>Lead Computer Science</p>
          </div>
          <div class="column  is-half-tablet is-half-desktop">
                  <div class="text-program">
                          <h1>Bagel</h1>
                          <p>Chief Mascot</p>
                  </div>
                  <div class="program-img"></div>
                  <p class="program-title">Hustle N Code Hackathon </p>
              </div>
      </div>
  </div>