<div class="summary">
    <div class="columns main-content">
    <div class="column img">
        <img src="assets/fellowship/fellowship-1.jpg" alt="">
      </div>
      <div class="column text-right">
        <h1 class="uppercase">Benefits of a Teens Exploring Technology (TXT) Fellow</h1>
        <p>As a TXT fellow, you will grow as an individual while inspiring the next generation of tech entrepreneurs to develop solutions for social problems in low-income communities. Through 3 months, you will develop skills that will advance your career in leadership, entrepreneurship, and professionalism by managing teen startups through coding, design thinking and the lean startup methodology.</p>
      </div>
    </div>
    <div class="columns main-content">
      <div class="column text-left">
        <h1 class="uppercase">Compensation</h1>
        <p>Based on our budget and your performance in the 3 month commitment, you will receive a max stipend of $800, we do not promise this money. However, you will be able to meet with professionals from top tech companies and build your network</p>
      </div>
      <div class="column img">
        <img src="assets/programs/scla/scla-1.jpg" alt="">
      </div>
    </div>
    <div class="columns main-content">
      <div class="column img">
        <img src="assets/programs/scla/scla-2.jpg" alt="">
      </div>
      <div class="column text-right">
        <h1 class="uppercase">Leadership Development</h1>
        <p>TXT will challenge fellows on a daily basis to learn fast, set/execute goals, and mentor teens in the right direction which will ultimately sharpen their skills in the TXT culture and beyond.</p>
      </div>
    </div>
    <div class="columns main-content">
      <div class="column text-left">
        <h1 class="uppercase">Career Preperation</h1>
        <p>You will have the opportunity to learn directly from entrepreneurs on how they were able to grow their business, and you will be able to apply these techniques in the management of your own teen tech startup.</p>
      </div>
      <div class="column img">
        <img src="assets/programs/scla/scla-3.jpg" alt="">
      </div>
    </div>
    <div class="notifcation">
      <div class="notification is-danger">
        We are currently not accepting any applications for the TXT Fellowship. If you are interested in being notified when applications open
        up, please send an email to <strong>roberto@urbantxt.com</strong>
      </div>
    </div>
  </div>
  
  
  
  <!-- <p>The Summer Coding Leadership Academy(SCLA) challenges boys to become advocates of change within their communities through
        technology. Boys develop leadership, entrepreneurship and coding skills in order to build tangible products that tackle
        issues within their community. SCLA enagages young boys of color using experiential learning and prepares them for
        college and the STEM field.
      </p>
      <div class="center">
        <br>
        <a class="button is-primary custom-btn">Apply Now!</a>
      </div> -->
  