<nav class="navbar nav-fixed-top moving">
  <div class="navbar-brand">
    <a href="http://exploringtech.org/" class="navbar-item">
            <img [src]="logo" alt="TXT logo">
          </a>



    <div class="navbar-burger burger" data-target="navMenuTransparentExample" (click)="showMenu()" [ngClass]="{'is-active': menuActive}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu" [ngClass]="{'is-active': menuActive}">


    <div class="navbar-end">

      <a  pageScroll [pageScrollOffset]="60" href="#schedule" class="navbar-item" (click)="closeMenu()" [ngClass]="{'hidden': hidden}">
              Schedule
      </a>
      <a  href="https://www.google.com/maps/dir//11251+Compton+Ave,+Los+Angeles,+CA+90059/@33.9321303,-118.2485425,19z/data=!4m16!1m7!3m6!1s0x80c2cbce7628d5c7:0x9084fad7084b02b!2s11251+Compton+Ave,+Los+Angeles,+CA+90059!3b1!8m2!3d33.9321782!4d-118.2465845!4m7!1m0!1m5!1m1!1s0x80c2cbce7628d5c7:0x9084fad7084b02b!2m2!1d-118.2465845!2d33.9321782" target="_blank" class="navbar-item "  (click)="closeMenu()"  [ngClass]="{'hidden': hidden}">
            Directions
      </a>

      <a pageScroll  [pageScrollOffset]="60" href="#sponsers" class="navbar-item "  (click)="closeMenu()"  [ngClass]="{'hidden': hidden}">
              Sponsors
      </a>
      <a  pageScroll [pageScrollOffset]="60" href="#tickets" class="navbar-item "  (click)="closeMenu()"  [ngClass]="{'hidden': hidden}">
              Registration
            </a>
      <a href="https://txt.networkforgood.com/" target="_blank" class="donate" id="donate" (click)="closeMenu()">
                <span>
                  Donate<fa name="heart"></fa>
                </span>
      </a>
    </div>
  </div>
</nav>


<router-outlet id="main-content"></router-outlet>

<div class="footer">
  <div class="columns">
    <div class="column summary">
      <img src="assets/img/logo-white.png" alt="">
      <p>We serve young men of color between the 7th and 11th grade who are from low income communities. Since 2009, we’ve used
        the concept of developing strong teams as a way for our young men to learn about collaboration, ideation, and long-lasting
        life skills. In small teams, our youths learn the process of taking an idea from concept to market.</p>
      <p><a href="#">http://exploringtech.org/</a></p>
    </div>
    <div class="column second">
      <h1>OUR HACKER SPACE</h1>
      <p>3655 South Grand Ave.</p>
      <p>Los Angeles, CA 90007 Ste. 220</p>
      <p>info@urbantxt.com</p>
    </div>
    <div class="column third">
      <h1>SUBSCRIBE</h1>
      <div class="field has-addons">
          <form (ngSubmit)="onSubmit(email)" #newsletterForm="ngForm" style="display:flex;">
        <div class="control">
            <input class="input" type="text" [ngClass]="{'input-error': input.email}" #email="ngModel" name="email" id="email" required email [(ngModel)]="model.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            required>
        </div>
        <button class="button is-primary" [ngClass]="{'is-loading': submit}" [disabled]="!email.valid || submit">
            Submit
          </button>
          <br>

        <!-- <div class="control">
            <input class="button is-success" type="submit" value="Subscribe" [disabled]="!email.valid">
        </div> -->
        </form>
      </div>
      <div class="notification is-primary" *ngIf='success'>
          <button class="delete" (click)="exit()"></button>
          Thank You. Your info has been submitted.
      </div>
      <div class="notification is-danger" *ngIf='failure'>
          <button class="delete" (click)="exit()"></button>
          Unable to submit form at this time. Please try Again. 
          If problems persist please email <strong>roberto@urbantxt.com</strong>
      </div>
      <h1>CONNECT</h1>
      <ul class="social-media">
        <li>
          <a href="https://www.facebook.com/UrbanTeenseXploringTechnology">
            <fa name="facebook"></fa>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/urbantxt">
            <fa name="twitter"></fa>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/urbantxt/">
            <fa name="instagram"></fa>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/teensandtech">
            <fa name="youtube"></fa>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">
    <p>© 2017 Teens Exploring Technology ALL RIGHTS RESERVED</p>
  </div>
</div>
