/* -------------------------------- 

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .logo-link{
      z-index: 9999;
  }
  .page{
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .7s;
  }
  .nav-toggle{
      display: none;
      position: absolute;
      right: 0;
      top: 15px;
  }
  .not-visible{
      display: none;
  }
  .nav-left{
      max-width: 300px;
      overflow: hidden;
  }
  .nav-fixed-top{
    border-top: solid thick #fff;
  }
  .navbar-end .navbar-item{
    color:#fff;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
  }
  .navbar-end .navbar-item:hover{
    color: #189EB3;
    border: none;
    background: transparent;
  }

  .nav-fixed-top .nav-right .nav-item{
      color:#fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
  }
  .nav-fixed-top .nav-right .nav-item:hover{
      color:grey;
      border: none;
  }
  .nav-fixed-top .nav-right .nav-border{
      border-left: solid thin grey;
      padding-left: 40px;
  }
  .nav-fixed-top .nav-right .nav-last{
  
      padding-right: 40px;
  }
  .nav-fixed-top .nav-right .nav-border:hover{
      border-left: solid thin grey;
  }
  .nav-fixed-top .navbar-item img {
      max-height: 4.75rem;
  }
  .navbar-brand .navbar-item:hover {
    background: transparent;
}
  .nav-fixed-top{
    /*  margin-top: 50px;*/
      height: 100px;
          position: fixed;
          right: 0;
          left: 0;
          background-color: transparent;
          border-bottom: solid thin lightgray;
          z-index: 1030;
          transition: all 0.5s ease;
  
  }
  .navbar-burger{
      color:#fff;
      margin-top: 24px;
      margin-right: 20px;
  }






  .nav-fixed-top .nav-right .nav-item.black{
      color:white;
      font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
      background-color: black;
      border-bottom: solid 1px black;
  }
  
  .line2{
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: solid 2px white;
      width: 30%;
  }
  .services-title{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 48px;
  }

  .services{
      width: 100%;
      height: 100%;
      font-family: Poppins, sans-serif;
      text-transform: capitalize;
  }

  .nav-center{
      /*margin-top: 20px;*/
      float: right;
      margin-right: 10%;
      text-transform: uppercase;
      font-size: 16px;
  }
  .nav-fixed-top .nav-item.link-color-change{
      color:black;
  }
  .nav-fixed-top .nav-item.link-color-change:hover{
      color:grey;
  }

  .footer{
      background-color: #189EB3;;
  }

  .footer{
      margin-top: 100px;
      font-family: Poppins, sans-serif;
      color: #fff;
      min-width: 100%;
      background-color: #189EB3;
      padding: 3rem 3rem 1rem;
  
  }
  .footer .copyright{
      margin-top: 15px;
      text-align: center;
  }
  .summary img{
      display: block;
      width: 200px;
  }
  .summary p{
      font-size: 14px;
  }
  .summary a{
      margin-top: 15px;
      display:block;
      color: #fff;
  }
  .summary a:hover{
      color: black;
  }
  .footer .columns .column h1{
      font-weight: 800;
      margin-bottom: 35px;
  }
  .social-media li{
      display: inline-block;
      width: 35px;
      height: 35px;
      text-align: center;
      background-color: #F5F5F5;
      border-radius: 15%;
      margin: 0 2px;
  }
  .social-media li:hover{
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #fff;
    border-radius: 15%;
    margin: 0 2px;
}
  .social-media li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #189EB3;
    }
    .social-media li a:hover{
        display: block;
        width: 100%;
        height: 100%;
        color: black;
        }
    .social-media li a fa{
        font-size: 1.8rem;
        }

    .second{
        padding-left:80px;
        padding-top:22px;
    }
    .third{
        padding-top: 22px;
    }


  .donate{
      display: block;
      background-color: #fff;
      height:45px;
      font-size: 1.5rem;
      color: #189EB3;
      border-radius: 3px;
      margin-top: -5px;
      margin-right: 35px;
      margin-left: 125px;
      padding: 5px 35px 0px 35px;
      border: solid thin #FFF;
      transition: all 0.5s ease;
  
  }
  .donate span ::ng-deep *{
      display: inline;
  }
  .donate:hover{
    border: solid thin #FFF;
    background: transparent;
    color: #fff;
    }
    .donate:hover > a{

        color: #fff;
    }
    .moving{
        height: 60px;
        background: #fff;
        opacity: .95;
    }
    .moving{
        border-top: solid thick #189EB3;
    }
    .moving .navbar-end .navbar-item{
        color:black;
  
    }
    .moving .navbar-end .navbar-item:hover{
        color: #189EB3; 
    }
    .moving .navbar-item img{
        width:114px;
    }
  
    .moving .donate{
        background-color: #189EB3;
        color: #fff;
        border: solid thin #189EB3;
    }
    .moving  .donate:hover{
        border: solid thin #189EB3;
        background: transparent;
        color: #189EB3;
    }
    .moving .navbar-burger{
        color:black;
        margin-right: 20px;
        margin-top: 0;
    }
    .navbar-end .is-active{
        color: #189EB3 !important;
    }
@media only screen and (max-width: 1023px) {
    .navbar-end .navbar-item{
        color:black;
        font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
      }
      .moving .navbar-brand .navbar-item{
          padding-top: 0;
      }
      .moving .navbar-item img{
        width:85px;
    }
    .navbar-end .navbar-item{
        text-align: center;
    }
    .moving .donate{ 
        border: none;
        background: transparent;
        color: black;
        text-align: center;
    }
    .moving  .donate:hover{
       border: none;
    }
    .donate{
        display: block;
        background-color: #fff;
        height:45px;
        font-size: 1.5rem;
        color: #189EB3;
        border-radius: 3px;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        border: solid thin #FFF;
        transition: all 0.5s ease;
    
    }
    .navbar-end{
        border-top: solid thin black;
        padding-top: 0;
    }
    .navbar-menu{
        padding-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-end .navbar-item{
        color:black;
        font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
      }
      .moving .navbar-brand .navbar-item{
          padding-top: 0;
      }
      .moving .navbar-item img{
        width:85px;
    }
    .navbar-end .navbar-item{
        text-align: center;
    }
    .moving .donate{ 
        border: none;
        background: transparent;
        color: black;
        text-align: center;
    }
    .moving  .donate:hover{
       border: none;
    }
    .donate{
        display: block;
        background-color: #fff;
        height:45px;
        font-size: 1.5rem;
        color: black;
        border-radius: 3px;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        border: solid thin #FFF;
        transition: all 0.5s ease;
        text-align: center;
    
    }
    .navbar-end{
        border-top: solid thin black;
        padding-top: 0;
    }
    .navbar-menu{
        padding-top: 0;
    }
    .summary img {
        display: block;
        width: 200px;
        margin: auto;
    }
    .summary {
        text-align: center;
    }
    .second{
        text-align: center;
        padding-left: 0;
    }
    .third{
        text-align: center;
    }
    .field{
        justify-content: center;
    }
    .third ul{
        text-align: center;
    }


}
