.custom-font{
    font-family: 'Varela', sans-serif !important;
}
.custom-color-blue{
    color: #189EB3 !important;
}
.custom-color-red{
    color: #900002 !important;
}
.custom-color-white{
    color: #fff !important;
}
.uppercase{
    text-transform: uppercase;
}



.banner{
    display: block;
    height: 100vh;
    width: 100%;
    width: 100vw;
    -webkit-transform: translate3d(0, 0, 0);
}
.layer{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 10;
    background: black;
    opacity: .5;
}
.title-content{
    position: absolute;
    top:100px;
    left:0;
    width:100%;
    height: 100%;
    z-index: 11;
    opacity: 0;
    -webkit-animation: fadeIntitle 2s ease-in-out 1; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    animation: fadeInTitle 2s ease-in-out 1;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}
.img-container img{
    width: 250px;
    display: inline-block;
    vertical-align: middle;
}
.img-container h3{
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}
@keyframes fadeInTitle{
    from {
        opacity: 0;
        top: 200px;
    }
    to {
        opacity: 1;
        top: 250px;
    }
}
.white-preload{
    background: #fff url('/assets/img/preload.png') repeat center;
}
.banner-img{
    background: 
    /* top, transparent blk */
    /* linear-gradient(
      rgba(20, 20, 20, 0.45), 
      rgba(20, 20, 20, 0.45)
    ), */
    /* your image */
    url('/assets/img/hackathon.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden; 
}
.img .main{
    background-color: #fff;
    width:100%;
    width: 100vw;
    margin: 0;
}

.title{
    display: block;
    margin: auto;
    padding-top: 200px;
    text-align: center;
}
.title h1{
    padding-top: 5px;
    font-family: 'College';
    font-weight: 800;
    font-size: 78px;
}
.icons{
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    display: block;
    width: 95%;
    margin: 0 auto;
    z-index: 11;
    border-radius: 5px;
    padding: 15px 50px 30px 50px;
    background-color: #fff;
}
.icons ul{
    text-align: center;
    margin: auto;
}
.icons ul li{
    margin: 0 50px;
    display: inline-block;
    opacity: 0;
    -webkit-animation: fadeIntitle 2s ease-in-out 1; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    animation: fadeInTitle 2s ease-in-out 1;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}
.icons ul li a {
    display: block;
    color: black;
}

.icons ul li a div{
    border: 1px solid black;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    display: inline-block;
}
.icons ul li a div i{
    padding-top: 23px;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    vertical-align: middle;
}
.icons ul li a h1{
    margin-top: -26px;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
}

.icons ul li a:hover{
    color: #1794AA !important;
}



.padding{
    padding: 0 125px;
}
.inline{
    display: inline-block;
}
.description{
    margin: 50px 0;
}

.description h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins' , sans-serif;
    text-transform: uppercase;
    color: #198FA3;
}
.description p{
    text-align: center;
    padding-top: 25px;
}
.key-list{
    margin: 25px 0;
}
.item{
    padding-right: 2rem;
}
.item h1 a{
    color: #198FA3;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}
.item h1{
    color: #198FA3;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}
.item p{
    font-family: 'Open-sans', sans-serif;
}
.schedule{
    margin: 75px 0;
    margin-top: 125px;
}
.schedule h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Open-sans' , sans-serif;
    text-transform: uppercase;
    color: #198FA3;
}
.schedule h2{
    margin: 15px 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Poppins' , sans-serif;
    text-transform: uppercase;
    color: #198FA3;
}
.list-item{
    margin: 25px 0;
}
.schedule-list-details{
    margin: 50px 0;
}
.list-item .time{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Poppins' , sans-serif;
    text-transform: uppercase;
    color: #198FA3;
}
.list-item .desc{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Poppins' , sans-serif;
    text-transform: uppercase;
}
.time-container{
    width:250px;
}


#sponsers {
    margin-top: 75px;
}

#sponsers .header h1 {
    color: #189EB3;
    text-align: center;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 600;
}

#sponsers .header .title-seperator-programs {
    border: solid thin black;
}

#sponsers .columns {
    margin-top: 35px;
    padding: 0px 100px 0px 100px;
    margin-top: 50px;
}

#sponsers .columns .column img {
    display: block;
    margin: auto;
    width: 70%;
}
#sponsers .header .title-seperator-programs{
    margin: auto;
    margin-top: 23px;
    margin-bottom: 45px;
    width: 100px;
    border: thin solid #000;
}
.tickets{
    margin: 50px 0;

}
.tickets h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins' , sans-serif;
    text-transform: uppercase;
    color: #198FA3;
}
.tickets iframe{
    height: 500px;
}
.countdown{

}
.countdown img{
    width:100%;
}
@media only screen and (max-width: 769px) {
    #sponsers .columns .column {
        margin-top: 15px;
    }
    .padding{
        padding: 0 25px;
    }
    .inline{
        display: block;
    }
}
@media only screen and (max-width: 414px) {
    #sponsers .columns {
        margin-top: 15px;
        padding: 0px 25px 30px 25px;
        margin-top: 50px;
    }
    #sponsers .columns .column {
        margin-top: 15px;
    }
    .title-content img{
        width: 50%;
    }
    .title h1{
        font-size: 40px;
    }
    .title h2{
        font-size: 16px;
    }
    .title-content{
        position: absolute;
        top:200px;
        left:0;
        width:100%;
        height: 100%;
        z-index: 11;
        opacity: 0;
        -webkit-animation: fadeIntitle 2s ease-in-out 1; /* Safari 4.0 - 8.0 */
        -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
        -webkit-animation-fill-mode: forwards;
        animation: fadeInTitle 2s ease-in-out 1;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
    }
    @keyframes fadeInTitle{
        from {
            opacity: 0;

        }
        to {
            opacity: 1;

        }
    }
}
